<!-- List Products -->
<div>
  <p-carousel
    [value]="featuredProducts"
    [numVisible]="4"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    autoPlayInterval="3000"
  >
    <ng-template let-product pTemplate="item">
      <ng-container>
        <a
          class="relative mx-3 mt-3 flex justify-center h-60 overflow-hidden rounded-md"
        >
          <img
            [routerLink]="'/products/' + product._id"
            class="w-full object-cover cursor-pointer"
            [src]="product.image[0]"
            alt="product image"
          />
          <div class="prd-sale absolute top-2 left-1 min-w-[60px]">
            <!-- featuredProducts -->
            <div *ngIf="product.hot_sale" class="py-[2px] mb-1 bg-pink-600 rounded-sm">
              <span
                class="m-1 block rounded-full text-center text-sm font-medium text-white"
              >
                {{ product.hot_sale }}% OFF
              </span>
            </div>
            <!-- // newProducts -->
            <div *ngIf="product.isNew" class="py-[2px] bg-[#33c7fd] rounded-sm">
              <span
                class=" m-1 block  rounded-full text-center text-sm font-medium text-white"
              >
                New
              </span>
            </div>
          </div>

          <span
            href=""
            title="Add to Favorites"
            class="text-4xl text-gray-300 hover:text-red-600 duration-200 absolute right-2 top-0 cursor-pointer"
            (click)="addToFavorites(product)"
            [ngClass]="{
              'text-red-600': product.isFavorite,
              'text-gray-300': !product.isFavorite
            }"
            >&hearts;</span
          >
        </a>
        <div class="mt-4 px-5 pb-5">
          <a href="#">
            <h5 class="text-xl tracking-tight text-slate-900">
              {{ product.name }}
            </h5>
          </a>
          <div class="mt-2 mb-5 flex flex-col justify-start">
            <p>
              <span class="text-2xl font-bold text-slate-900 mx-1">{{
                product.priceSale | currency : "USD" : "symbol" : "1.2-2"
              }}</span>
              <span
                *ngIf="product.hot_sale > 0"
                class="text-sm text-slate-900 line-through mx-1"
                >{{
                  product.price | currency : "USD" : "symbol" : "1.2-2"
                }}</span
              >
            </p>

            <div class="flex items-center">
              <ng-container
                *ngFor="let rating of getRatingArray(product.rating, 5)"
              >
                <svg
                  aria-hidden="true"
                  class="h-5 w-5"
                  [ngClass]="{
                    'text-yellow-300': rating <= product.rating,
                    'text-gray-300': rating > product.rating
                  }"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
              </ng-container>
              <span
                class="mr-2 ml-3 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold"
              >
                {{ product.rating | number : "1.1-1" }}
              </span>
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"
              ></p-tag>
            </div>
          </div>
          <a
            href="#"
            class="flex items-center justify-center rounded-md dark:bg-slate-900 bg-teal-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-slate-600 focus:outline-none focus:ring-4 focus:ring-blue-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="mr-2 h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
            Add to cart</a
          >
        </div>
      </ng-container>
    </ng-template>
  </p-carousel>
</div>
