<section
  class="relative   bg-no-repeat "
  style="
    background-image: url('./assets/banner.jpg');
    background-position: right;
  "
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8 lg:justify-end"
  >
    <div class="max-w-xl text-center sm:text-left">
      <h4 class="tieude1 text-5xl font-bold sm:text-2xl text-[#222] mb-4">
        Trade-in-offer
      </h4>
      <h2 class="tieude2 block font-bold text-6xl text-[#222]">
        Super value deals
      </h2>
      <h1
        class="tieude3 block font-bold text-7xl text-[#088178] tracking-normal"
      >
        On All Products
      </h1>
      <p class="tieude4 mt-4 max-w-lg sm:text-xl/relaxed opacity-60 my-4">
        Save more with coupons & up to
        <span class="tieude5 relative text-black text-9xl">70%</span>
      </p>
      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <p-button
          label="Shop now"
          styleClass="p-button-rounded p-button-success"
        ></p-button>
      </div>
    </div>
  </div>
</section>