<header
  [ngClass]="{ 'menu-visible': isMenuVisible }"
  aria-label="Site Header"
  class="bg-slate-200 fixed top-0 w-screen mb-16 z-50"
>
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a routerLink="/" class="block text-teal-600">
          <span class="sr-only">Home</span>
          <img src="/assets/logo.png" class="w-16" alt="" />
        </a>
      </div>
      <div id="search">
        <!-- <app-search></app-search> -->
      </div>
      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Site Nav" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            <li class=" ">
              <a
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all hover:text-[#088178]"
              >
                Home
              </a>
            </li>
            <li>
              <button class="flex items-center" type="button">
                <a
                  routerLink="/shop"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all hover:text-[#088178]"
                >
                  Shop
                </a>
                <span
                  id="dropdownDividerButton"
                  data-dropdown-toggle="dropdownDivider"
                  class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all hover:text-[#088178]"
                >
                  <svg
                    class="w-4 h-4 ml-2"
                    aria-hidden="true"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    ></path>
                  </svg>
                </span>
              </button>

              <!-- Dropdown menu -->

              <div
                id="dropdownDivider"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
              >
                <ul
                  class="py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownDividerButton"
                >
                  <li *ngFor="let category of categorys.slice(0, 6)">
                    <a
                      routerLink="/category/{{ category._id }}"
                      class="block text-base px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }"
                      >{{ category.name }}</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a
                class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all hover:text-[#088178]"
                routerLink="/blog"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Blog
              </a>
            </li>

            <li>
              <a
                class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all hover:text-[#088178]"
                routerLink="/about"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                About
              </a>
            </li>

            <li>
              <a
                class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all hover:text-[#088178]"
                routerLink="/contact"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Contact
              </a>
            </li>

            <li>
              <a
                routerLink="/cart"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="grid h-10 w-10 place-content-center border-b-4 border-transparent hover:text-[#088178]"
              >
                <svg
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                  />
                </svg>

                <span class="sr-only">Cart</span>
              </a>
            </li>
            <li>
              <a
                routerLink="/account"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="grid h-10 w-10 place-content-center border-b-4 border-transparent hover:text-[#088178]"
              >
                <svg
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                  />
                </svg>

                <span class="sr-only"> Account </span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div *ngIf="!user" class="sm:flex sm:gap-4">
            <a
              class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
              routerLink="/signin"
            >
              Login
            </a>

            <div class="hidden sm:flex">
              <a
                class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"
                routerLink="/signup"
              >
                Register
              </a>
            </div>
          </div>
          <div *ngIf="user" class="sm:flex sm:gap-4">
            <div class="col-12 md:col-4">
              <p-avatar
                image="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/377998658_885687639773325_2820153853632977895_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=7wXxBfaHDhIAX_EjcXk&_nc_ht=scontent.fhan14-1.fna&oh=00_AfDybqRum4YZbhIlAuHSnBVTXpnDcylXFBFydH-JbwoLIA&oe=65064DE2"
                styleClass="mr-2"
                size="large"
                shape="circle"
              ></p-avatar>
            </div>
            <button
              class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
              (click)="logout()"
            >
              Logout
            </button>
          </div>

          <div class="block md:hidden">
            <button
              (click)="toggleMenu()"
              class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 w-9 h-9"
              [ngClass]="{ hidden: isMenuVisible, block: isMenuVisible }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
            <button
              (click)="toggleMenu()"
              class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 w-9 h-9"
              [ngClass]="{ hidden: !isMenuVisible, block: isMenuVisible }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>

            <div
              class="absolute w-full right-4 mt-[13px] menu-container"
              [ngClass]="{
                'slide-in': isMenuVisible,
                'slide-out': !isMenuVisible
              }"
            >
              <!-- Nội dung của menu -->
              <!-- <app-menu-hidden *ngIf="isMenuVisible"> </app-menu-hidden> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>